---
# Defines deployment design and assigns role to server groups
- hosts: beegfs_mgr
  gather_facts: yes
  become: yes
  pre_tasks:
    - name: set BeeGFS manager install 'In Progress'
      run_once: yes
      set_stats:
        data:
          installer_phase_beegfs_mgr:
            status: "In Progress"
            start: "{{ lookup('pipe', 'date +%Y%m%d%H%M%SZ') }}"

  tasks:
    - import_role:
        name: beegfs-common
    - import_role:
        name: beegfs-mgr

  post_tasks:
    - name: set BeeGFS manager install 'Complete'
      run_once: yes
      set_stats:
        data:
          installer_phase_beegfs_mgr:
            status: "Complete"
            end: "{{ lookup('pipe', 'date +%Y%m%d%H%M%SZ') }}"

- hosts: beegfs_nodes
  gather_facts: yes
  become: yes
  pre_tasks:
    - name: set BeeGFS nodes install 'In Progress'
      run_once: yes
      set_stats:
        data:
          installer_phase_beegfs_node:
            status: "In Progress"
            start: "{{ lookup('pipe', 'date +%Y%m%d%H%M%SZ') }}"

  tasks:
    - import_role:
        name: beegfs-common
    - import_role:
        name: beegfs-node

  post_tasks:
    - name: set BeeGFS nodes install 'Complete'
      run_once: yes
      set_stats:
        data:
          installer_phase_beegfs_node:
            status: "Complete"
            end: "{{ lookup('pipe', 'date +%Y%m%d%H%M%SZ') }}"

